
.main{
	width: 1200px;
	height: 100%;
	clear: both;
	margin: 10px auto;
	background-color: #202020;
}

.leftbar{
	width: 888px;
	min-height: 450px;
	color: white;
	float: left;
	border-radius: 5px;
	margin-top: 0px;
	background-color: #3B3B3B;
}

h3{
    padding: 10px;  
}

h5{
    font-size: 18px;
    padding: 10px;
}

h5 a{
    color: #EF323A;
}

h5 a:hover{
   color: #EF323A; 
}

@media screen and (max-width: 1200px){
	.leftbar{
		margin-top: 20px;
	}
	
	.main{
		width: 888px;
		margin: auto;
	}
}

@media screen and (max-width: 880px){
	
	.main{
		margin: 0;
        width: 100%;
        margin-top: 10px;
	}
	
	.leftbar{
		background-color: #202020;
		margin-top: 5px;
        width: 100%;
	}
	
}
	
@media screen and (max-width: 450px){	
	
	.main{
		margin: 0;
	}
}