.header{
	width: 100%;
	min-height: 60px;
	display: block;
	background-color: #3B3B3B;
}

.searchbar-mobile{
	display: none;
}

.searchbar-mobile{
	width: 100%;
	height: 60px;
	position: absolute
}

.searchbar-mobile div form{
	display: inline-flex;
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: #3B3B3B;
	z-index: 999;
	padding: 0 12px;
}

.searchbar-mobile div form input{
	border: 2px solid white;
	border-radius: 0px;
	font-size: 16px;
	box-sizing: border-box;
	outline: 0;
	flex: 1;
	height: 40px;
	float: left;
	color: #EEEEEE;
	background-color: #202020;
	min-width: 70px;
	margin: auto;
	padding:10px;
}

.searchbar-mobile div form button{
	color: white;
	display: block;
	border: none;
	height: 60px;
	float: left;
	padding: 0px 20px;
	align-items: center;
	justify-content: center;
	background-color: #3B3B3B;
	margin-left: 10px;
	font-weight: bold;
	font-size: 20px;
}

.wrapper{
	width: 100%;
	height: 60px;
	display: flex;
	background-color: #3B3B3B;
}

.header a{
	height: 60px;
}

.logo_container{
	height: 60px;
	width: 156px;
	display: table;
	float: left;
	margin-left: 12px;
}

.logo_containersmall{
	display: none;
	width: 64px;
	height: 60px; 
	float: left;
}

.navigation{
	float: right;
	height: 100%;
    font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	width:  212px;
	display: flex;
	justify-content: space-between;
	background-color: #3B3B3B;
}

.navigation li{
	height: 100%;
	display: table;
	float: left;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.navigation li:first-child{
	display: none;
}

.navigation li a{
	color: white;
	padding: 20px;
}

.login button{
	margin-top: 2px;
	border: none;
	width: 153px;
	height: 56px;
	display: table;
	float: left;
	padding: 0px 0px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 3px;
	font-size: 18px;
	background-color: #3B3B3B;
}

.login button:hover{
	background-color: #2A2A2A;
	transition: .1s;
}

.login button:focus{
    outline: 0;
}

.logout{
	display: none;
}

.dropdown{
	display: inline-block;
	position: relative;
}

.dropdown button{
	display: block!important;
	border: none;
	height: 60px;
	float: left;
	padding: 0px 20px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3B3B3B;
}

.dropdown button:focus{
	color: #2A2A2A;
    outline: 0;
}

.dropdown div{
	margin-left: -45px;
	border: 3px solid transparent;
	border-radius: 2px;
	background-color: #3B3B3B;
	position: absolute;
	margin-top: 50px;
	border: 1px solid white;
	min-width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown div a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 13px;
}


.dropdown div a:hover{
	transition: .1s;
	background-color: #5d5d5d;
}

.dropdown div a:first-child:hover{
	border-radius: 2px 2px 0 0;
}

.dropdown div a:last-child:hover{
	border-radius:0 0 2px 2px;
}

.searchandbutton{
	display: inline-flex;
	font-size: 20px;
	float: left;
	flex: 1;
	margin: auto 0;
	padding: 0 12px;
}

.searchandbutton form{
	display: inline-flex;
	font-size: 20px;
	float: left;
	flex: 1;
	margin: auto 0;
	padding: 0 12px;
}

.searchandbutton form button[type=submit]{
	font-size: inherit;
	border: 2px solid white;
	border-radius: 0 5px 5px 0;
	background-color: white;
	border-left: 0;
	outline: 0;
	box-sizing: border-box;
	cursor: pointer;
	height: 40px;
	background-color: #EF323A;
	color: white;
	float: left;
	padding: 0 10px;
}

.searchandbutton form input[type=text]{
	border: 2px solid white;
	border-radius: 5px 0 0 5px;
	font-size: inherit;
	padding:  10px;
	box-sizing: border-box;
	outline: 0;
	flex: 1;
	height: 40px;
	float: left;
	color: #EEEEEE;
	background-color: #202020;
	min-width: 200px;
}

.searchandbutton form input[type=text]:focus{
	color: #EEEEEE;
}

.navigation: li>a{
	display: table-cell;
	padding-top: auto;
	padding-bottom: auto;
	height: 100%;
	vertical-align: middle;
}

img{
	width: 100%;
	height: 100%;
}

.options li:hover,
.logo_container:hover,
.navigation li:hover{
	cursor: pointer;
}

.mobile-dropdown{
	display: none;
}

.mobile-dropdown ul{
	margin-bottom: 0px;
}

.mobile-dropdown ul li:nth-child(odd){
	background-color: #2A2A2A;
}

.mobile-dropdown ul li{
	padding: 10px;
	display: flex;
}

.mobile-dropdown ul li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	flex: 1;
	height: 100%;
}

.mobile-dropdown ul li a:hover{
	text-decoration: none;
	color: #DDD;
}

@media screen and (max-width: 770px){
	
	.dropdown div{
		display: none;
	}
	
	.mobile-dropdown{
		display: block;
	}
	
	.logo_container{
		display: none;
	}
	
	.logo_containersmall{
		display: table;
		float: left;
	}
	
	.searchandbutton button[type=submit]{
		display: none;
	}
	
	.searchandbutton input[type=text]{
		border: 2px solid white;
		border-radius: 0px;
	}
	
}

@media screen and (max-width: 685px){

	.logo_containersmall{
		display: none;
	}
	
}

@media screen and (max-width: 554px){
	
	.searchandbutton input[type=text]{
		width: 70px;
		min-width: 70px;
	}
	
	.mobile-dropdown ul li a{
		font-size: 14px;
	}
}

@media screen and (max-width: 365px){
	
	.navigation button:first-child{
		display: block;
	}
	
	.searchandbutton{
		display: none
	}
	
	.navigation li{
		float: none;
	}
	
	.dropdown {
		float: none;
	}
	
	.navigation li:first-child{
		display: flex;
	}

	.navigation{
		display: flex;
		justify-content: space-between;
		margin: auto;
		width: auto;
	}	
	
	.searchbar-mobile{
		display: block;
	}
	
}