*{
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	font-family: 'Encode Sans Expanded', sans-serif;
	background-color: #202020;
	margin: 0px;
}

#container{
	display: block;
	width: 625px;
	height: 541px;
	background-color: #202020;
	margin: auto;
	box-sizing: border-box;
}

.logo{
	margin: 50px auto;
	width: 389px;
	height: 151px;	
}

.logo img{
	width: 389px;
	height: 151px;
}

input[type=password],
input[type=text]{
	width: 300px;
	height: 47px;
	background-color: white;
	color: black;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-left: 8px;	
	float: left;
}

input[type=text]:focus,
input[type=password]:focus
{
	color: black;
}

input[type=submit]{
	width: 200px;
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	color: #222;
}

input::-webkit-input-placeholder
{
    color: #666;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #666;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #666;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #666;
}

.message{
	font-size: 20px;
	padding: 10px;
	margin-top: 10px;
	color: white;
}

.question2{
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin: auto;
	height: 47px;
	width: 100%;
	display: table;
	float: left;
	margin-left: 0px;
}

.question2 p{
	vertical-align: middle;
	color: white;
}

.question2 a{
	text-decoration: none;
	color: #EF323A;
}

.question{
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin: auto;
	height: 47px;
	display: table;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

.question p{
	vertical-align: middle;
	color: white;
}

.question a{
	text-decoration: none;
	color: #EF323A;
}

.loginmessage {
	display: none;
}

p{
	margin-left: 10px;
	color: #EF323A;
}

.info{
	color: white;
	font-size: 14px;
	padding-top: 10px;
	margin-left: 10px; 
	margin-right: 10px;
}

.info a{
	color: #DC7277;
}

@media screen and (max-width: 650px){
	
	input[type=password],
	input[type=password],
	input[type=text]{
		max-width: 100%;
		width: 100%;
		height: 47px;
		background-color: white;
		color: black;
		border: 2px solid white;
		border-radius: 5px;
		font-size: 20px;
		padding: 10px;
		box-sizing: border-box;
		outline: none;
		margin-top: 10px;
		margin-right: 0;
		margin-left: 0;
	}
	
	input[type=submit]{
		box-sizing: border-box;
		outline: none;
		margin-left: 0;
		margin-top: 10px;
	}
	
	#container{
		display: flex;
		width: 90%;
		height: 541px;
		background-color: #202020;
		margin: auto;
		box-sizing: border-box;
	}

	.logo{
		display: none;
	}
	
	.info{
		margin: 0;
		padding: 0;
	}
	
	.question{
		padding: 0;
		float: none;
		color: white;
		font-size: 18px;
		margin-left: 0px;
		padding: 0;
		height: 47px;
	}

	.question2{
		float: none;
		display: block;
		color: white;
		font-size: 18px;
		margin-left: 0px;
		margin-top: -15px;
		margin-bottom: 0;
		padding: 0;
		height: 47px;
	}
	.question2 p{
		width: 100%;
	}
	
	.message{
		padding: 0;
		margin-top: 20px;
	}
	
	p{
		margin-left: 0px;
	}
}

