.main{
	width: 1200px;
	height: 100%;
	clear: both;
	margin: 12px auto;
	color: white;
}

.leftbar{
	width: 888px;
	background-color: #3B3B3B;
	float: left;
	border-radius: 5px;
    display: flex;
    flex-flow: column;
}

.title{
	font-size: 18px;
}

.title{
	margin:0 5px;
}

.content{
    flex: 1;
	margin: 5px;
	margin-top: 15px;
	display: flex;
    height: 100%;
    flex-flow: row;
}

.intro{
	font-size: 14px;
	order: 1;
    width: 55%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    color: white;
    background-color: #3B3B3B; 
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.imgborder{
	height: 100%;
	flex: 1;
	order: 2;
    margin: 1px;
}

.img{
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

.img img{
	width: 100%;
	height: inherit;
	border-radius: 3px
}

@media screen and (max-width: 1212px){
	.main{
		width: 888px;
		margin: auto;
	}
	.leftbar{
		margin-top: 12px;
	}
}

@media screen and (max-width: 890px){
    .content{
        display: block;
    }
    
	.main,
	.leftbar{
		width: 100%;
	}
    
    .imgborder{
        float: right;
        width: 315px;
        height: 205px;
    }
    
    .intro{
        width: 100%;
        
    }
	
	.leftbar{
		border-radius: 0px;
	}
}

@media screen and (max-width: 770px){
	.content{
		display: block;
	}
    
    .title{
        font-size: 17px;
    }
    
    .intro{
        font-size: 13px;
    }
	
	.imgborder{
		float: right;
		width: 210px;
		height: 120px;
	}
	
	.img{
		width: 100%;
		height: 100%;	
	}
}

@media screen and (max-width: 500px){
   .title{
        font-size: 16px;
    }
    
    .intro{
        font-size: 12px;
    } 
}

@media screen and (max-width: 420px){
     .title{
        font-size: 15px;
    }
    
    .intro{
        font-size: 11px;
    }
  
    .imgborder{  
        width: 100%;
        height: 230px;
    }
}   

@media screen and (max-width: 320px){
    .title{
        font-size: 14px;
    }
    
    .intro{
        font-size: 10px;
    } 
    
    .imgborder{  
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 270px){ 
    .imgborder{  
        width: 100%;
        height: 170px
    }
}