.namelike{
	width: 100%;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.update a button{
    background-color: #202020;
    border: solid 2px #202020;
    border-radius: 4px;
    color: white;
    height: 100%;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.update a button:focus{
    outline: 0;
}

@media screen and (max-width: 300px){
	
	.namelike{
		font-size: 15px;
	}
}

@media screen and (max-width: 250px){
	
	.namelike{
		font-size: 12px;
	}
}