
.main{
	width: 1200px;
	height: 100%;
	clear: both;
	margin: 10px auto;
	background-color: #202020;
}

.leftbar{
	width: 888px;
	min-height: 450px;
	color: white;
	float: left;
	border-radius: 5px;
	margin-top: 0px;
	background-color: #3B3B3B;
}

.content{
	margin: 0 4px;
	background-color: #3B3B3B;
	padding: 3px;
}



.uid{
	margin-bottom: 30px;
	font-size: 15px;
}

@media screen and (max-width: 1200px){
	.leftbar{
		margin-top: 20px;
	}
	
	.main{
		width: 888px;
		margin: auto;
	}
}

@media screen and (max-width: 880px){
	
	.main{
		margin: 0;
	}
	
	.main,
	.leftbar{
		width: 100%;
	}
	
	.leftbar{
		background-color: #202020;
		margin-top: 5px;
	}
	
	.content{
		padding-bottom: 60px;
	}
	
}
	
@media screen and (max-width: 450px){	
	
	.about{
		font-size: 15px;
	}
	
	.main{
		margin: 0;
	}
}

@media screen and (max-width: 300px){
	
	.namelike{
		font-size: 15px;
	}
	.about{
		font-size: 13px;
	}
}

@media screen and (max-width: 250px){
	
	.namelike{
		font-size: 12px;
	}
	.about{
		font-size: 10px;
	}
}