.main{
	width: 1200px;
	height: 100%;
	clear: both;
	margin: 10px auto;
	background-color: #202020;
}

.leftbar{
	width: 888px;
	min-height: 450px;
	color: white;
	float: left;
	border-radius: 5px;
	margin-top: 0px;
	background-color: #3B3B3B;
}

.topnav{
	background-color: #EF323A;
	font-size: 18px;
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 10px 0;
	margin-top: 0px;
	margin-bottom: 4px;
	border-radius: 5px 5px 0 0 ;
}

.topnav li{
	display: table-cell;
}
.topnav li a{
	text-decoration: none;
	color: white;
	padding: 5px;
	padding-bottom: 10px;
	border-radius: 2px 2px 0 0;
}

.topnav li a:hover{
	background-color: #de2129;
}

.content{
	margin-left: 4px;
	margin-right: 4px;
	background-color: #3B3B3B;
	padding: 3px;
}

.namelike{
	width: 100%;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.like a{
	text-decoration: none;
	color: #EF323A;
}

.date{
	margin-bottom: 15px;
	font-size: 15px;
}

.linksandvery{
	display: flex;
	justify-content: space-between;
}

.contact{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.info a:hover{
    color: #EF323A;
}

.info{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.info a{
	text-decoration: none;
	color: #EF323A;
}

@media screen and (max-width: 1200px){
	.leftbar{
		margin-top: 20px;
	}
	
	.main{
		width: 888px;
		margin: auto;
	}
}

@media screen and (max-width: 880px){
	
	.topnav{
		border-radius: 0;
	}
	
	.topnav li a{
		padding-bottom: 6px;
		border-radius: 2px;
	}
	
	.main{
		margin: 0;
	}
	
	.main,
	.leftbar{
		width: 100%;
	}
	
	.leftbar{
		background-color: #202020;
		margin-top: 5px;
	}
	
	.content{
		padding-bottom: 60px;
	}
	
}

@media screen and (max-width: 500px){
	.g-recaptcha{
		display: none;
	}
	
	.contact{
		display: none;
	}
}
	
@media screen and (max-width: 450px){	
	
	.about,
	.topnav{
		font-size: 15px;
	}
	
	.main{
		margin: 0;
	}
	
	.leftbar{
		background-color: #202020;
	}
}

@media screen and (max-width: 300px){
	
	.namelike{
		font-size: 15px;
	}
	.about,
	.topnav{
		font-size: 13px;
	}
}

@media screen and (max-width: 250px){
	
	.namelike{
		font-size: 12px;
	}
	.about,
	.topnav{
		font-size: 10px;
	}
}