
.main{
	width: 1200px;
	height: 100%;
	clear: both;
	margin: 10px auto;
	background-color: #202020;
}

.leftbar{
	width: 888px;
	min-height: 450px;
	color: white;
	float: left;
	border-radius: 5px;
	margin-top: 0px;
	background-color: #3B3B3B;
}

.content{
	margin: 0 4px;
	background-color: #3B3B3B;
	padding: 3px;
}

.namelike{
	width: 100%;
	font-size: 18px;
	display: flex;
	margin-bottom: 20px;
}

.like{
	width: 100px;
}

.name{
	flex: 1;
	padding: 0px;
}

.name input{
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 2px;
	background-color: #313131;
	outline: none;
	color: white;
}

.about{
	width: 100%;
	height: 240px;
}

.about textarea{
	width: 100%;
	height: 100%;
    resize: none;
	border: none;
	border-radius: 2px;
	background-color: #313131;
	outline: none;
	padding-left:0;
	padding-top:0;
	color: white;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #EEE;
}
/* Firefox < 19 */
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #EEE;
}
/* Firefox > 19 */
input::-moz-placeholder,
textarea::-moz-placeholder{
    color: #EEE;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder,
input:-ms-input-placeholder{
    color: #EEE;
}

.submit{
	width: 100%;
	height: 30px;
	margin-top: 8px;
}

.submit input{
	float: right;
	height: 100%;
    background-color: #202020;
    border: solid 2px #202020;
    border-radius: 4px;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 4px;
}

.submit input:focus{
    outline: 0;
}

.like a{
	text-decoration: none;
	color: #EF323A;
}

.uid{
	margin-bottom: 30px;
	font-size: 15px;
}

@media screen and (max-width: 1200px){
	.leftbar{
		margin-top: 20px;
	}
	
	.main{
		width: 888px;
		margin: auto;
	}
}

@media screen and (max-width: 880px){
	
	.main{
		margin: 0;
	}
	
	.main,
	.leftbar{
		width: 100%;
	}
	
	.leftbar{
		background-color: #202020;
		margin-top: 5px;
	}
	
	.content{
		padding-bottom: 60px;
	}
	
}
	
@media screen and (max-width: 450px){	
	
	.about{
		font-size: 15px;
	}
	
	.main{
		margin: 0;
	}
}

@media screen and (max-width: 300px){
	
	.namelike{
		font-size: 15px;
	}
	.about{
		font-size: 13px;
	}
}

@media screen and (max-width: 250px){
	
	.namelike{
		font-size: 12px;
	}
	.about{
		font-size: 10px;
	}
}