.topnav{
	background-color: #EF323A;
	font-size: 18px;
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 10px 0;
	margin: 0 0 4px 0;
	border-radius: 5px 5px 0 0 ;
}

.topnav li{
	display: table-cell;
}
.topnav li a{
	text-decoration: none;
	color: white;
	padding: 5px;
	padding-bottom: 10px;
	border-radius: 2px 2px 0 0;
}

.topnav li a:hover{
	background-color: #de2129;
}

@media screen and (max-width: 880px){
	
	.topnav{
		border-radius: 0;
	}
	
	.topnav li a{
		padding-bottom: 6px;
		border-radius: 2px;
	}
}

@media screen and (max-width: 450px){	

	.topnav{
		font-size: 15px;
	}
}

@media screen and (max-width: 300px){

	.topnav{
		font-size: 13px;
	}
	
	@media screen and (max-width: 250px){
	
	.namelike{
		font-size: 12px;
	}
	
	.topnav{
		font-size: 10px;
	}
}
}