*{
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	font-family: 'Encode Sans Expanded', sans-serif;
	background-color: #202020;
	margin: 0px;
}

#container{
	display: block;
	width: 625px;
	height: 541px;
	background-color: #202020;
	margin: auto;
	box-sizing: border-box;
}

.logo{
	margin: 50px auto;
	width: 389px;
	height: 151px;	
}

.logo img{
	width: 389px;
	height: 151px;
}

input[type=password],
input[type=text]{
	width: 300px;
	height: 47px;
	background-color: white;
	color: black;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-left: 8px;	
	float: left;
}

input[type=text]:focus,
input[type=password]:focus
{
	color: black;
}

input[type=submit]{
	width: 200px;
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	color: #222;
}

input::-webkit-input-placeholder
{
    color: #666;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #666;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #666;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #666;
}

.message{
	font-size: 20px;
	padding: 10px;
	margin-top: 10px;
	color: white;
}

.question{
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin: auto;
	height: 47px;
	display: table;
	float: right;
	margin: 0 10px;
}

.question p{
	vertical-align: middle;
	color: white;
}

.question a{
	text-decoration: none;
	color: #EF323A;
}

p{
	margin-left: 10px;
	color: #EF323A;
}

.info{
	color: white;
	font-size: 14px;
	padding-top: 10px;
	margin: 0 10px;
}

.info a{
	color: #DC7277;
}

@media screen and (max-width: 650px){
	
	p{
		margin-left: 0px;
		color: #EF323A;
	}
	
	input[type=password],
	input[type=text]{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
	}
	
	input[type=submit]{
		margin-left: 0;
	}
	
	#container{
		display: flex;
		width: 90%;
	}

	.logo{
		display: none;
	}
	
	.info{
		margin: 0;
		padding: 0;
	}
	
	.question{
		float: none;
		margin-left: 0px;
		padding: 0;
	}
	
	.message{
		padding: 0;
		margin-top: 20px;
	}
	
}

