.rightbar{
	width: 300px;
	margin-left: 12px;
	float: left;
}

.writebutton{
	width: 100%;
	height: 60px;
	background-color: #3B3B3B;
	color: white;
	border-radius: 5px;
	font-size: 30px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.texttype{
	display: flex;
	height: 90px;
	margin: 6px 0;
	width: 100%;
	justify-content: space-between;
}

.box{
	background-color: #3B3B3B;
	width: 24%;
	box-sizing: border-box;
	border-radius: 5px;
	color: white;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}



.optionsbox{
	width: 100%;
	background-color: #3B3B3B;
	color: white;
	min-height: 200px;
	border-radius: 5px;
	margin: 0 0;
}

.options li{
	text-align: justify;
	padding: 5px;
}

.ad{
	width: 288px;
	margin: auto;
	height: 192px;
	color: #EF323A;
	background-color: transparent;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.adbox{
	width: 100%;
	background-color: #3B3B3B;
	min-height: 300px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 6px;
}

.writebutton:hover,
.options li:hover,
.box:hover{
    text-decoration: none;
	cursor: pointer;
}

a:hover{
    text-decoration: none;
} 

@media screen and (max-width: 1212px){
	
	.rightbar{
		display: none;
	}
}