*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Encode Sans Expanded', sans-serif;
	background-color: #ffe7d7;
}

#column
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 1760px;
	margin-top: 4px;
}

.header{
	width: 100%;
	height: 70px;
	display: block;
	background-color: #111111;
}

.inner_header{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
	display: flex;
}

.logo_container{
	height: 100%;
	display: block;
	float: left;
}

.logo_container:hover{
	cursor: pointer;
}

.object{
	float: left;
	height: 70px;
	box-sizing: border-box;
	font-size: 20px;
	color: white;
	padding: 20px 10px;
}

.search-box-wrapper{
	display: inline-flex;
	font-size: 20px;
	float: left;
	padding: 16.5px 10px;
	float: left;
	flex: 1;
}

.search-box-input{
	border: 0.1em solid black;
	border-radius: 0.1em 0 0 0.1em;
	font-size: inherit;
	padding: 0.2em 0.5em;
	outline: 0;
	font-family: 'Encode Sans Expanded', sans-serif;
	flex: 1;
}

.search-box-button{
	font-size: inherit;
	border: 0.1em solid black;
	border-radius: 0 0.1em 0.1em 0;
	background-color: white;
	border-left: 0;
	padding: 0 0.75em;
	outline: 0;
	cursor: pointer;
}
