.main{
	width: 1200px;
	height: 100%;
	clear: both;
	margin: 12px auto;
	color: white;
}

.leftbar{
	width: 888px;
	background-color: #3B3B3B;
	float: left;
	border-radius: 5px;
    display: flex;
    flex-flow: column;
    margin-bottom: 5px;
}

.title{
	font-size: 18px;
    color: white;
}

.title{
	margin:0 5px;
    background-color: #313131;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
}

.content{
	margin: 5px;
	margin-top: 5px;
	display: flex;
    height: 100%;
    flex-flow: row;
}

.intro{
	font-size: 14px;
    margin: 1px;
	order: 1;
    flex: 1;
    height: 262px;
    resize: none;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: #313131;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.imgborder{
	order: 2;
    margin: 1px;
    margin-left: 5px;
}

.img{
	width: 393px;
	height: 262px;
    background-color: #313131;
	border-radius: 3px;
}

.essay{
    background-color: #313131;
    font-size: 14px;
    color: white;
    border: none;
    resize: none;
    margin: 0 5px 5px 5px;
    border-radius: 3px;
    height: 650px;
}

@media screen and (max-width: 1212px){
	.main{
		width: 888px;
		margin: auto;
	}
	.leftbar{
		margin-top: 12px;
	}
}

@media screen and (max-width: 890px){  
	.main,
	.leftbar{
		width: 100%;
	}
    
    .img{
        float: right;
        width: 315px;
        height: 205px;  
    }
    
    .intro{
        flex: 1;
        height: 205px;
    }
	
	.leftbar{
		border-radius: 0px;
	}
}

@media screen and (max-width: 865px){
    .intro{
        flex: 1;
    }
    
    .leftbar{
        min-width: 865px;
        min-height: 258px; 
    }
    
    .header{
        min-width: 865px;
    }
}