
.icon-picture:before { content: '\e800'; } /* '' */
.icon-picture-1:before { content: '\e801'; } /* '' */
.icon-picture-outline:before { content: '\e802'; } /* '' */
.icon-picture-2:before { content: '\e803'; } /* '' */
.icon-picture-3:before { content: '\e804'; } /* '' */
.icon-picture-4:before { content: '\e805'; } /* '' */
.icon-picture-5:before { content: '\e806'; } /* '' */
.icon-photo:before { content: '\e807'; } /* '' */